Source/VFECore/obj/
Source/VFECore/bin/
Source/VFECore/.vs/
Source/MVCF/.vs/
Source/MVCF/obj/
Source/KCSG/obj/
Source/KCSG/.vs/
Source/VWEMakeshift/.vs
Source/VWEMakeshift/.idea
Source/VWEMakeshift/GunsGoPewPew/obj
Source/VWEMakeshift/GunsGoPewPew/bin
Source/VWEMakeshift/VWEMakeshift.sln.DotSettings.user
