<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
    <GeneralTitle>General</GeneralTitle>
    <!-- CSG -->
    <CSGTitle>Custom structure generation:</CSGTitle>
    <CSGLog>Enable structure generation debugging log: </CSGLog>

    <!-- Toggable patches -->
    <TPTitle>Toggable patches</TPTitle>
    <NeedRestart>All settings need a restart to be applied</NeedRestart>
    <XPatchFound>{0} patches found</XPatchFound>

	<!-- Weather damages -->
	<VEF.WeatherDamages>Weather damages</VEF.WeatherDamages>
	<VEF.EnableWeatherDamage>{0}</VEF.EnableWeatherDamage>
    <!-- Faction Discovery -->
    <FDTitle>Faction Discovery</FDTitle>
    <NeedToBeInGame>You first need to load a save</NeedToBeInGame>
    <AskForPopUp>Add faction(s)</AskForPopUp>
    <AskForPopUpExplained>Click this to be asked for each faction if you want it to be added to your game</AskForPopUpExplained>
    <CanAddXFaction>{0} faction(s) can be added to your current save</CanAddXFaction>
</LanguageData>