<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>

using System.Reflection;

[assembly: AssemblyVersion("1.1.2.0")]
[assembly: AssemblyFileVersion("<#= this.year #>.<#= this.month #>.<#= this.day #>.<#= 0 #>")]

<#+

 static DateTime date = DateTime.Now;
 string year = date.ToString("yy");
 string month = date.ToString("MM");
 string day = date.ToString("dd");
#>